<script>
    (function() {
        var cx = '000557171303025515437:vrcbow5ltbc';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<!-- TODO: Delete this when moving to production
<script async src="https://cse.google.com/cse.js?cx=873655217ca584cfa">
</script> -->


<div id='google-search'>
    <gcse:search></gcse:search>
</div>

<!-- TODO: Delete this when moving to production
<div class="gcse-search" id='google-search'>
    <gcse:search enablehistory="false"></gcse:search>
</div> -->
